<p style="color: green"><%= notice %></p>

<h1>Meetings</h1>

<div id="meetings">
  <% @meetings.each do |meeting| %>
    <%= render meeting %>
    <p>
      <%= link_to "Show this meeting", group_meetings_path(params[:group_id], @meeting) %>
    </p>
  <% end %>
</div>

<%= link_to "New meeting", new_group_meeting_path %>
