<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js"></script>
<!-- filepath: /home/colton/Projects/acid-test/acid-test/app/views/game/game.html.erb -->
<div data-controller="game" data-game-topics-url-value="/topics.json"
  data-game-topic-categories-url-value="/topic_categories.json">
  <!-- The PixiJS canvas will be appended here -->
</div>

<%= vite_javascript_tag 'controllers/game_controller.js' %>