<div id="<%= dom_id topic_category %>">
  <p>
    <strong>Title:</strong>
    <%= topic_category.title %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= image_tag topic_category.icon.file_path %>
  </p>

  <p>
    <strong>Cat:</strong>
    <%= topic_category.cat %>
  </p>

</div>
