<div id="<%= dom_id reading %>">
  <p>
    <strong>Title:</strong>
    <%= reading.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= reading.content %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= reading.topic %>
  </p>

</div>
