<%= render @reading %>
<p style="color: green"><%= notice %></p>
<div>
  <%= link_to "Edit this reading", edit_reading_path(@reading) %>
  <%= button_to "Destroy this reading", @reading, method: :delete %>
</div>
