<%= render @reading %>
<p style="color: green"><%= notice %></p>
<% if user_signed_in? %>
<div class=" admin-bar-reading p-5">
  <div class="row">
    <div class="col">
      <%= link_to edit_reading_path(@reading), class:"btn btn-outline-info w-100" do %> 
        <i class="bi bi-pencil-square"></i> 
      <% end %>
    </div>
    <div class="col">
      <%= button_to @reading, method: :delete, class:"btn btn-outline-danger w-100" do %> 
        <i class="bi bi-trash"></i> 
      <% end %>
    </div>
  </div>
</div>
<% end %>