<% content_for :title, "Editing hostificator" %>

<h1>Editing hostificator</h1>

<%= render "form", hostificator: @hostificator %>

<br>

<div>
  <%= link_to "Show this hostificator", @hostificator %> |
  <%= link_to "Back to hostificators", hostificators_path %>
</div>
