<div class="container mt-5">
  <h2 class="mb-4 text-center">
    Results for <%= @hostificator.meeting_date_time.strftime("%A, %B %d at %I:%M %p") %>
  </h2>

  <% results=@hostificator.host_props.includes(:host_votes).map { |prop| { prop: prop, vote_count: prop.host_votes.size }
    } %>
    <% total_votes=results.sum { |r| r[:vote_count] } %>
  
    <div id="results-container" data-hostificator-id="<%= @hostificator.id %>">
      <%= render partial: "hostificators/results" , locals: { hostificator: @hostificator, results: results, total_votes:
        total_votes } %>
        </div>


              <div class="mt-4 text-center">
                <%= link_to "Back to Poll" , @hostificator, class: "btn btn-outline-secondary" %>
              </div>
</div>
