<h1>Unconfirmed Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @unconfirmed_users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
          <%= button_to 'Confirm', confirm_admin_user_path(user), method: :patch, class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
